<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.np.mad.madassignmentgrpanpaf">

    <application
        android:allowBackup="true"
        android:icon="@drawable/google_pixel_6_pro___13_removebg1111"
        android:label="@string/app_name"
        android:roundIcon="@drawable/google_pixel_6_pro___13_removebg1111"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADAssignment">
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.StudentViewFeedback"
            android:exported="true">
        </activity>
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.LecturerRegister"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.register"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.generatePassCode"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.StudentProfile"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.ProvideFeedback"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.StudentTakeAttendance"
            android:exported="true" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.StudentMain"
            android:exported="true" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.ClassViewHolder"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.ViewAllStudents"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.ViewAllStudentAttendance"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.LecturerMain"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.upload_student_name"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.StudentLogin"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.LecturerLogin"
            android:exported="false" />
        <activity
            android:name="sg.edu.np.mad.madassignmentgrpanpaf.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>